/* Estilos básicos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.contenedor {
   margin-bottom: 20%;
}
/* Estilo para la tarjeta del producto */
.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   float: right;
   
    max-width: 400px;
    text-align: center;
    padding: 1rem;
}

.product-image {
    width: 100%;
    border-radius: 8px;
}

.product-title {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
}

.product-description {
    color: #666;
    margin: 0.5rem 0;
}

.product-price {
    font-size: 1.25rem;
    color: #e60023;
    margin: 1rem 0;
}

.buy-button {
    background-color: #e60023;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #c2001a;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
